*{
    margin: 0;
    padding: 0;
}

.dashboard-container {
    flex: 1;
    justify-content: center;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
}

.dashboard-container .dashboard-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left .header-line{
    width: 5px;
    height: 40px;
    background-color: #148E6A;
}

.dashboard-header .dashboard-search-add {
    display: flex;
    gap: 20px;
    padding: 4px 20px;
    align-items: center;
    justify-content: end;
}

.dashboard-header .dashboard-search-add .input-search {
    flex: 1;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #FFFFFF;
    width: 350px;
    border: 1px solid #ccc;
}

.input-search input{
    border: none;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.input-search input:focus{
    border: none;
    outline: none;
}

.dashboard-header .dashboard-search-add button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #faf9ea;
    cursor: pointer;
}

.dashboard-header .dashboard-search-add a {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #2B24E4;
    cursor: pointer;
    text-decoration: none;
    height: 34px;
    color: #fff;
}

.dashboard-table {
    width: 100%;
    min-height: 100vh;
    overflow-x: auto;
    background: #fff;
}

table {
    min-width: 1000px;
    border-collapse: collapse;
    background: #fff;
    table-layout: fixed;
}


th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 500px; 
    white-space: nowrap;  
    overflow: hidden;       
    text-overflow: ellipsis;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

.action-btn {
    display: flex;
    padding: 12px 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    gap: 20px;
}

.delete-btn {
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #E8272AED;
}

.edit-btn {
    color: #261FF3;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  margin: 15% auto;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.modal-content p {
    margin: 10px 0 20px;
    font-size: 14px;
}

.modal-content form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-content button {
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.submit-modal {
    background-color: #ca122f;
    color: #fff;
}

.cancel-modal {
    background-color: black;
    color: #fff;
}

.fill{
    display: flex;
    padding: 10px 0;
    background-color: #FAF9EB;
}

.fill h3{
    margin: auto 10px;
    color: black;
}

.fill-standard{
    padding: 10px;
    margin-right: 10px ;
    border-radius: 7px;
}

.fill input{
    background-color: #fff;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid;
}